@import "colors";
@import "variables";
@import "media";
@import "mixins";

:host {
  width: 100%;
  display: flex;
}

.kanban {
  padding: $global-module-size;
  @include full-size;
  @include flex-column;
  align-items: center;

  &__header {
    @include flex-center(column);
  }
  &__title {
    color: $color-title-on-background;
  }
  &__subtitle {
    margin-top: $global-module-size - rem(5);
    color: $color-text-on-background;
  }
  &__main {
    margin-top: $global-module-size;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $global-module-size;

    // .board {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   min-width: rem(350);
    //   border-radius: $global-radius;

    //   padding: $global-module-size - rem(10);

    //   background-color: $color-surface;

    //   &__title {
    //     @include flex-center;
    //     mat-icon {
    //       margin-right: $global-module-size - rem(15);
    //     }
    //     color: $color-title-on-background;
    //   }

    //   &__tasks {
    //     margin-top: $global-module-size - rem(5);
    //     width: 100%;

    //     app-task + app-task {
    //       margin-top: $global-module-size - rem(15);
    //     }
    //   }

    //   &__task {
    //     width: 100%;
    //     background-color: $color-background;
    //     border-radius: $global-radius;
    //     padding: $global-module-size - rem(10);
    //     color: $color-text-on-background;
    //     font-family: $font-secondary;
    //   }

    //   .board__task + .board__task {
    //     margin-top: $global-module-size - rem(15);
    //   }
    // }
  }
}
