@import "colors";
@import "variables";
@import "media";
@import "mixins";

:host {
  width: 100%;
  display: flex;
}

.kanban {
  padding: $global-module-size;
  @include full-size;
  @include flex-column;
  align-items: center;

  &__header {
    @include flex-center(column);
  }
  &__title {
    color: $color-title-on-background;
  }
  &__subtitle {
    margin-top: $global-module-size - rem(5);
    color: $color-text-on-background;
  }
  &__main {
    margin-top: $global-module-size;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $global-module-size;

    color: #3bc2da;
  }
}
