<div class="kanban">
  <header class="kanban__header">
    <h1 class="kanban__title">Kanban Board com Angular 11</h1>
    <h4 class="kanban__subtitle">
      clique e arraste as tarefas abaixo para um dos quadros disponíveis
    </h4>
  </header>
  <main cdkDropListGroup class="kanban__main">
    <app-task-board
      cdkDropList
      [cdkDropListData]="todos"
      (cdkDropListDropped)="drop($event)"
      [taskList]="todos"
      title="Fazer"
      iconName="list"
      taskBgColor="#6a6c6c"
    ></app-task-board>
    <app-task-board
      cdkDropList
      [cdkDropListData]="inProgress"
      (cdkDropListDropped)="drop($event)"
      [taskList]="inProgress"
      title="Fazendo"
      iconName="settings"
      taskBgColor="#3bc2da"
    ></app-task-board>
    <app-task-board
      cdkDropList
      [cdkDropListData]="completed"
      (cdkDropListDropped)="drop($event)"
      [taskList]="completed"
      title="Feito"
      iconName="verified"
      taskBgColor="#0bbd6a"
    ></app-task-board>
  </main>
</div>
